CMakeCache.txt
*.dSYM
CMakeFiles
*.a
cmake_install.cmake
*.dylib
Testing
CTestTestfile.cmake
Makefile
*_test
CMakeScripts
*.build
*.xcodeproj
.DS_Store
examples/blog/blog
w_dev
.build.development
*.os
*.o
.sconsign.dblite
site
*.pyc
wayward_synth.plugin
